body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
}

body, main, figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1440px;
    height: 720px;
    max-height: 100vh;
    background: hsl(212, 45%, 89%);
}

main, figure {
    box-shadow: 0px 5px 15px hsl(218, 24%, 82%);
    flex-direction: column;
}

figure {
    width: 280px;
    background: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 1.4em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin: 25px 0;
}

h1, figure p {
    width: 90%
}

figure p {
    margin: 0 0 30px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

footer {
    width: 100%;
    text-align: center;
}

footer p {
    font-size: 11px;
    margin: 10px 0 0;
}

footer a {
    color: hsl(228, 45%, 44%);
}